div#calendar {
    margin: 0px auto;
    padding: 0px;
    margin-top: 0%;
    margin-left: 0%;
    /* width: 780px; */
    height: 625px;
    font-family: "Weiss Medium";
}

div#calendar div.box {
    position: relative;
    top: 0px;
    left: 0px;
    width: 125%;
    height: 40px;
    background-color: #46166B;
}

div#calendar div.header {
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    left: 1%;
    top: 0px;
    width: 98%;
    height: 40px;
    text-align: center;
}

div#calendar div.header a.prev,
div#calendar div.header a.next {
    position: absolute;
    top: 0px;
    height: 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

div#calendar div.header span.title {
    color: #FFF;
    font-size: 2.15vmin;
}


div#calendar div.header a.prev {
    left: 0px;
}

div#calendar div.header a.next {
    right: 0px;
}





/*******************************Calendar Content Cells*********************************/

div#calendar div.box-content {
    border-top: none;
    position: relative;
    display: table;
    margin-top: 4px;
    width: 128.2%;
    margin-left: -3px;
    height: 65%;
}



div#calendar ul.label {
    position: relative;
    margin: 0px;
    display: table-row;
    min-height: 48px;
    width: 100%;
    height: 7.5%;
    margin-top: 5px;
    padding: 0%;
}

div#calendar ul.label li {
    margin: 0px;
    padding: 0px;
    margin-right: .115%;
    float: left;
    margin-left: .30%;
    list-style-type: none;
    width: 13.58%;
    height: 100%;
    line-height: 300%;
    vertical-align: middle;
    text-align: center;
    color: #000;
    position: relative;
    background-color: DB9F11;
}


div#calendar ul.dates {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: table-row;
    height: 100%;
    margin-left: 0px;
    margin-bottom: 5px;
}


/** overall width = width+padding-right**/

div#calendar ul.dates li {
    margin: 0px;
    padding: 0px;
    border: 1px solid #000;
    margin-right: .18%;
    margin-left: .295%;
    margin-top: 5px;
    line-height: 20px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 13.53%;
    height: 16%;
    /* font-size: 15px; */
    background-color: #5f6062;
    color: #FFF;
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
}



div#calendar ul.dates li:hover {

    margin: 0px;
    padding: 0px;
    margin-right: .15%;
    margin-left: .30%;
    margin-top: 5px;
    line-height: 25px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 13.53%;
    height: 16%;
    font-size: 15px;
    background-color: #46166B;
    color: #FFF;
    cursor: pointer;
}

:focus {
    outline: none;
}

div.clear {
    clear: both;
}