.dayview {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 10%;
    background-color: #86007D;
    /*border: 3px solid #73AD21;*/
}

.makeReservation {
    /*
    position: absolute;
    top: 15%;
    right: 0;
    width: 50%;
    height: 85%;
    z-index: 55;
  */
 /*    position: absolute;
    top: 20.5%;
    right: 0px;
    left: 40%;
    width: 30vh;
    height: 85%;
    overflow: scroll;
    z-index: 55; */
}



.test {
    margin-left: 2%;
    height: 100%;
    top: 0%;
    /*overflow-y: scroll;*/
}

#roominsert font {
    font-size: 1.25vmin;
}

#roomInsert font b {
    font-size: 1.5vmin;
}

.calendar {
    border-right: 3px solid #DDDDDD;
    border-collapse: collapse;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 8%;
    width: 50%;
    height: 83.5%;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    z-index: 55;
}

.test h1 {
    position: relative;
    font-size: 22;
}

.test input {
    position: relative;
}

.test p {
    position: relative;
}

.test select {
    position: relative;
}

.test span {
    position: relative;
}

#createRes h1 {
    position: initial;
    text-align: left;
    font-size: 2.65vmin;
}


#createRes p {
    position: initial;
    text-align: left;
}


#createRes input {
    position: initial;
    text-align: left;
}

#createRes option {
    position: initial;
    text-align: left;
}

#startDate {
    right: 0%;
    float: right;
}

#endDate {
    right: 0%;
    float: right;
}

#submitMakeRes {
    position: absolute;
    height: 6%;
    right: 9%;
}

#createRes textarea {
    resize: none;
}

#createLabel {
    color: white;
    font-size: 3.75vmin;
    left: 0%;
    top: 23%;
    right: 0%;
    text-align: center;
}