.dayview {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 10%;
    background-color: #86007D;
    /*border: 3px solid #73AD21;*/
}

.makeReservation {
    position: absolute;
    top: 15%;
    right: 0;
    width: 45%;
}

.test{
  padding-left: 15%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.calendar{
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 0;
  width: 50%;

}
