* {
    /*position: absolute;*/
    font-family: "Weiss Medium";
    /* font-size: 1.65vmin; */
    font-size: 16.5px;
}

html,
body {
    overflow: hidden;
}

br {
    position: relative;
}

b {
    left: 0%;
    right: 0%;
}


/************************************************************/


/*for blacklisting, used on the group settings page. */

.groupsFrame {
    width: 30%;
    top: 7.5%;

    max-height: 35%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: unset;
    border: solid;
    border-color: silver;
    display: grid;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* overflow-wrap: unset; */
}


.bookAreaFrame {
    width: 65%;

    top: 7.5%;
    max-height: 45%;
    background-color: white;
    overflow-y: scroll;
    border: solid;
    border-color: silver;
    display: flex;
    flex-wrap: wrap;
}

.nonblacklistroombox {
    background-color: ghostwhite;
    margin: 2px;
    border-radius: 1px;
    border: solid;
    border-color: slategray;
    text-align: center;
    font-size: 16px;
    height: 110px;
    width: 150px;
    cursor: pointer;
}

.blacklistedroombox {
    background-color: #1e1e1e;
    margin: 2px;
    border-radius: 1px;
    border: solid;
    border-color: slategray;
    text-align: center;
    font-size: 16px;
    height: 110px;
    width: 150px;
    cursor: pointer;
}

.blacklistedroombox>font {
    color: white;
}


/************************************************************/

.outerBookArea {
    /* border-right: 3px solid #DDDDDD;
    border-collapse: collapse;
    position: absolute;
    left: 3vh;
    width: 70vh;
    z-index: 55;
    top: 20.5%;
    height: 100%;
    min-height: 300px;*/
    padding-right: 30px; 
    padding-left: 30px;
    
}

/* .bookArea {
    width: 99%;
    left: 2%;
    top: 7.5%;
    max-height: 45%;
    background-color: white;
    overflow-y: scroll;
    border: solid;
    border-color: silver;
    display: flex;
    flex-wrap: wrap;
}

.favBookArea {
    width: 99%;
    left: 2%;
    top: 7.5%;
    max-height:35%;
    max-height: 26%;
    background-color: white;
    overflow-y: scroll;
    border: solid;
    border-color: silver;
    display: flex;
    flex-wrap: wrap;
} */

/*.roombox {
    background-color: ghostwhite;
    margin: 2px;
    border-radius: 1px;
    border: solid;
    border-color: slategray;
    text-align: center;
    font-size: 30px;
    height: 110px;
    width: 150px;
    cursor: pointer;
}*/

.roomboxnotfound {
    background-color: #1e1e1e;
    color: white;
 /*   margin: 2px;
    border-radius: 1px;
    border: solid;
    border-color: slategray;
    text-align: center;
    font-size: 30px;
    height: 110px;
    width: 150px;
    cursor: pointer;*/
}

.roomboxcontent {
    top: 13%;
    text-align: center;
    position: relative;
}

.favoriteIcon {
    right: 0%;
    top: 0%;
    height: 20px;
    width: 20px;
}


#selectedRoom b {
    font-size: 3vmin;
}

#deleteRes h2 {
    position: initial;
    text-align: center;
}

#deleteRes h3 {
    position: initial;
    text-align: center;
}

html,
body {
    width: 100%;
    height: 100%;
    left: 0%;
}


#banner {
    width: 100%;
    height: 13%;
    left: 0%;
    top: 0%;
    background-color: #46166B;
}

#createRes {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 20;
    background-color: #f2f2f2;
    border-right: 3px inset #dddddd;
}

#delView {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 10%;
    background-color: #86007D;
}

#editRes {
    width: 55%;
    height: 85%;
    left: 21.5%;
    top: 13%;
    z-index: 20;
    display: none;
    background-color: #f2f2f2;
    border: 2px inset black;
}

#deleteRes {
    width: 30%;
    height: 50%;
    left: 34.5%;
    top: 13%;
    z-index: 555;
    display: none;
    background-color: #f2f2f2;
    border: 2px inset black;
}

#yesDelete {
    width: 10%;
    height: 5%;
    left: 40%;
    bottom: 5%;
}

#noDelete {
    width: 10%;
    height: 5%;
    left: 52%;
    bottom: 5%;
}

#logo {
    width: 10%;
    height: 75%;
    left: 1%;
    top: 12.5%;
}

#roomMenu {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    z-index: 7;
}



#allRooms {
    width: 98%;
    height: 97%;
    left: 1%;
    top: 1.5%;
    table-layout: fixed;
    text-align: center;
}

#allRooms tr {
    position: relative;
    width: 100%;
    height: 22%;
    display: table-row;
}

#allRooms tbody {
    position: initial;
    width: 100%;
    height: 100%;
}

#roomSelect {
    width: 4%;
    height: 4%;
    left: 45%;
    top: 14%;
    z-index: 10;
}

#selectedRoom {
    left: 9%;
    top: 14%;
    font-size: 22pt;
    z-index: 3;
    width: 36%;
    z-index: 11;
}

#roomWrapper {
    width: 90%;
    height: 6%;
    left: 5%;
    top: 13%;
    border-radius: 0px 0px 12px 12px;
    background-color: #DB9F11;
}

#roomSelect:hover {
    border: 2px outset #46166B;
    border-radius: 15px;
}

.room {
    position: relative;
    border: 1px solid gray;
    display: table-cell;
    width: 13.5%;
}

.room:hover {
    background-color: gray;
}

.roomText {
    display: table-cell;
    left: 20%;
    top: 23%;
    right: 20%;
}

#filterArea {
    width: 100%;
    height: 10%;
    top: 6.5%;
    left: 4.5%;
    position: relative;
}

#filtersText {
    left: -3%;
    top: -60%;
    width: 8%;
}

#typeText {
    left: -4%;
    top: -12%;
    width: 8%;
}


/*
#typeSelect{
  left: 7%;
    top: -12.5%;
    width: 24%;
    height: 28%;
}
*/

#floorText {
    left: 34%;
    top: -12%;
    width: 8%;
}

#floorSelect {
    left: 22%;
    top: -12.5%;
    width: 24%;
    height: 28%;
}

#compText {
    left: 74%;
    top: -12%;
    width: 50%;
}

#compSelect {
    left: 56%;
    top: -12.5%;
    width: 25%;
    height: 28%;
}

#agenda {
    text-align: center;
    z-index: 40;
    border: 6px solid #5F6062;
    height: 100%;
    width: 22%;
    left: 7%;
    overflow-y: scroll;
}

#agendaReservations {
    text-align: center;
    height: 63%;
    top: 20%;
    width: 65%;
    z-index: 99;
    display: none;
    left: 18%;
    background-color: ghostwhite;
    border: 10px solid #3b3b3b;
    overflow-y: scroll;
}

#agenda-head {
    text-align: left;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #46166B;
}

#agendaTable {
    z-index: 40;
    width: 100%;
    height: 30%;
}

#agendaTable tbody {
    position: initial;
    width: 100%;
    height: 100%;
}

#agendaTable th,
#agendaTable td {

    text-align: center;
    padding: 8px;
    position: relative;
    width: 100%;
    height: 22%;
    display: block;
}

#agendaTable tr:nth-child(even) {
    background-color: #f2f2f2
}

#agendaTable tr {
    position: relative;
    width: 100%;

    display: inline-flex;
}

#agendaTable th {
    background-color: #5F6062;
    color: white;
}



#master-content {
    z-index: 4;
    width: 95%;
    height: 75%;
    top: 22%;
}

#mainCalendar {
    right: 2%;
    top: 0%;
    width: 64%;
    height: 100%;
}






/* Dropdown Button */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


#myResButton {
    left: 35%;
    top: 10.8%;
    width: 10%;
    position: absolute;
    height: 3%;
    border-radius: 8px 8px 0px 0px;
}


/*
#settingsButton{
      left: 46%;
    top: 10.8%;
    width: 10%;
    height: 3%;
    position: absolute;
    border-radius: 8px 8px 0px 0px;
}*/


/*#makeResButton{
      left: 13%;
    top: 10.8%;
    width: 10%;
    height: 3%;
    position: absolute;
    border-radius: 8px 8px 0px 0px;
}*/


/*#monthViewButton{
      left: 24%;
    top: 10.8%;
    width: 10%;
    height: 3%;
    position: absolute;
    border-radius: 8px 8px 0px 0px;
}

#myResButton:hover{
  border: 1px solid red;
  cursor: pointer;
}

#settingsButton:hover{
  border: 1px solid red;
  cursor: pointer;
}

#makeResButton:hover{
  border: 1px solid red;
  cursor: pointer;
}

#monthViewButton:hover{
  border: 1px solid red;
  cursor: pointer;
}*/

#banner button {
    font-size: 1.58vmin;
}

.welcome {
    right: 13%;
    bottom: 12%;
    width: 20%;
    height: 20%;
}

#welcomeText {
    color: white;
    /* float: right; */
    position: absolute;
    right: 23%;
    left: 61%;
    top: 11.5%;
    padding: 0;
    margin: 0;
    font-size: 1.75vmin;
}

#shader {
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 95;
    position: absolute;
    width: 100%;
    display: none;
    height: 100%;
}


/*.signOut{
      right: 14%;
    top: 11.3%;
    width: 10%;
    height: 2.5%;
    position: absolute;
    border-radius: 8px 8px 0px 0px;
}

.signOut:hover{
  border: 1px solid red;
  cursor: pointer;
}*/

#agendaReservations h2 {
    font-size: 2.8vmin;
    position: relative;
}


/* Start Setting Page CSS  */

#room {
    left: 15%;
    position: absolute;
    top: 17%;
    height: 100%;
    width: 100%;
    /* font-size:30px; */
}


div.d {
    height: 100%;
    top: 13.9%;
    position: absolute;
    width: 12.5%;
    background-color: ghostwhite;
}

#logo {
    width: 9%;
    /*height: 9%;*/
    left: 1%;
    top: 2.5%;
    position: relative;
}

#logo:hover {
    cursor: pointer;
}

#pages {
    font-size: 2.8vmin;
    text-align: center;
    background-color: lightgrey;
    background-size: cover;
}

button.settingsButton {
    background-color: white;
    padding: 0% 0%;
    font-size: 2.2vmin;
    position: relative;
    width: 100%;
    height: 4%;
}

.roomContainer {}


/* End Settings Page CSS */

#closeAgendaButton {
    top: 1%;
    right: 1%;
    z-index: 2;
    position: absolute;
}

#closeAgendaButton:hover {
    cursor: pointer;
    border: 1px inset ghostwhite;
}

@media (max-width: 767px)
{
	jumbotron
	{
		display: none;
	}
}

.jumbotron-fluid {
    margin: 0px;
    height: 13vh;
    background-color: #46166B !important;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #5F6062; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #DB9F11;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 992px)
{
  .index-body {overflow-y: scroll;}
}